#titulo{
    color: red;

}

.titulo {
    font-weight: bold;
    font-size: 20px;

}
#container {
    flex-wrap: wrap;
    display: flex;
    width:fit-content;
    height: fit-content;
    background-color: beige; 
    justify-content: center;
    gap: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

    
#container div {
    width: 250px;
    height: 250px;
}
#container div img {
    width: 100%;
    height: 100%;

}